<ion-header>
  <ion-toolbar>
    <ion-title>Register Vehicle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Owner Name</ion-label>
    <ion-input [(ngModel)]="ownerName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Vehicle Number</ion-label>
    <ion-input [(ngModel)]="vehicleNumber"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Model</ion-label>
    <ion-input [(ngModel)]="model"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="registerVehicle()">Register</ion-button>
</ion-content>